concrete-python==2.11.0
filelock==3.20.0
fsspec==2025.10.0
importlib_resources==6.5.2
Jinja2==3.1.6
jsonpickle==4.1.1
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
pip==25.0.1
scipy==1.15.3
setuptools==78.1.0
sympy==1.14.0
torch==2.2.2
typing_extensions==4.15.0
wheel==0.45.1
z3-solver==4.13.0.0
